.tarifs {
  font-size: 20px;
}

.carousel-slide {
  border-radius: 8px;
}

.booking-wrapper {
  background-color: white;
  padding: 15px;
  border-radius: 8px;
}

.detail-resa {
  padding-top: 8px;
  border-bottom: 1px solid $quoogreen;
  line-height: 80%;
}
