<div id="<%= dom_id space %>">

  <div id="carouselExample" class="carousel slide" style="width: 100%; height: 500px;">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= cl_image_tag @space.photos.first.key, crop: :fill, style: "width: 100%;" %>
      </div>
      <div class="carousel-item">
        <%= cl_image_tag @space.photos.second.key, crop: :fill, style: "width: 100%;" %>
      </div>
      <div class="carousel-item">
        <%= cl_image_tag @space.photos.last.key, crop: :fill, style: "width: 100%;" %>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
