<div class="container">
  <h1>Editing space</h1>

  <%= render "form", space: @space %>

  <br>

  <div>
    <%= link_to "Voir mon espace", @space, class: "btn btn-primary" %> |
    <%= link_to "Retour aux espaces", root_path, class: "btn btn-secondary" %>
  </div>
</div>
