.container-space {
  background-color: #222;
  padding: 30px;
  border-radius: 8px;
}

.tarifs {
  font-size: 20px;
}

.carousel-slide {
  border-radius: 8px;
}

.booking-wrapper {
  background-color: white;
  color: $gray;
  padding: 15px;
  border-radius: 8px;
  text-decoration: none;
}

.detail-resa {
  padding-top: 8px;
  border-bottom: 1px solid $quoogreen;
  line-height: 60%;
  color: $gray;
}
