.container-space {
  background-color: #222;
  padding: 30px;
  border-radius: 8px;
}

.tarifs {
  font-size: 20px;
}

.carousel-slide {
  border-radius: 8px;
}

.booking-wrapper {
  background-color: white;
  color: $gray;
  padding: 15px;
  border-radius: 8px;
  text-decoration: none;
  padding-bottom: 1px;
  padding-left: 26px;
  padding-right: 26px;
}

.detail-resa {
  padding-top: 8px;
  border-bottom: 1px solid $quoogreen;
  line-height: 60%;
  color: $gray;
}

.special-date {
  background-color: #15df95;
}

.calendar {
  position: absolute;
  top: 0;
  left: 0;
}

#calendar2 {
  display: none; /* Cache le deuxième calendrier initialement */
}

.form-check-input {
  background-color: #15df95;
}

.form-check {
  padding-left: 0px;
}
