.banner {
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  background-color: $quoogreen;
  border-radius: 15px;
}
.banner h1 {
  margin: 0;
  color: rgba(76, 80, 86, 1);
  font-size: 50px;
  font-weight: bold;
  font-family: "Work Sans";
}
