.footer {
  background: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0, 0, 0, 0.3);
  margin-top: auto;
  position: static;
  bottom: 0;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #d23333;
}
#border {
  border-bottom: 2px solid rgb(105, 247, 1);
  margin-top: 55px;
}
#tribune {
  height: 100%;
  object-fit: contain;
}
.reseaux {
  text-decoration: none;
}
