.navbar-lewagon {
  justify-content: space-between;
  background: black;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .form-control {
  border-radius: 0 30px 30px 0;
  border: none;
  margin: auto;
  padding-right: 86px;
  padding-bottom: 9px;
  padding-top: 9px;
}

.navbar-lewagon .navbar-brand img {
  border: none;
  width: 184px;
  margin-left: -5px;
  margin-bottom: -3px;
  background-color: transparent;
}

.navbar-lewagon .nav-link {
  color: white;
  text-decoration: underline;
  margin-right: 20px;
}

.navbar-lewagon #search {
  border-radius: 0 30px 30px 0;
  border: none;
}

.navbar-lewagon .form-select {
  margin-right: 1px;
  padding-bottom: 4px;
  padding-right: 150px;
  border-radius: 30px 0 0 30px;
  width: 100%;
  margin-bottom: 1px;
  margin-top: 1px;
}

.navbar-lewagon .d-flex {
  margin-top: auto;
  margin-bottom: auto;
}

.navbar-lewagon .dropdown-menu {
  border-radius: 20px;
  width: 100%;
}

.navbar-lewagon {
  .dropdown-item {
    display: block;
    border-radius: 20px;
    width: 100%;
    text-align: inherit;

    &:hover {
      color: grey;
    }
  }
}
.navbar-lewagon #connexion {
  margin-right: -10px;
  width: 212px;
  border-radius: 5px;
}

.navbar-lewagon .form-check-label {
  color: white;
}

.navbar-lewagon #rechercher {
  border-radius: 40px;
  margin-left: 5px;
}
