// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "spaces/index";
@import "dashboard/bookings";

body {
  background: rgb(35, 37, 41);
  background: linear-gradient(
    180deg,
    rgba(35, 37, 41, 1) 11%,
    rgba(251, 250, 248, 1) 83%
  );
  color: white;
}

h1,
h3 {
  color: #69f701;
}
